/*.bnf
/transf
/*.out
/*.idx
/*.fdb_latexmk
/*.fls
/main.synctex*
/acsl-implementation.tex
/acsl.tex
/framacversion.tex
/acsl-mini-tutorial.tex
/*-tut.c
/pp
/pp.ml

# PDFs
/acsl-implementation.pdf
/acsl.pdf
