/*.aux
/*.bbl
/*.blg
/*.cb
/*.cb2
/*.ilg
/*.ind
/*.lof
/*.log
/*.toc
/*.bnf
/transf
/*.out
/*.idx
/*.fdb_latexmk
/*.fls
/*.synctex.gz
/acsl-implementation.tex
/acsl.tex
/framacversion.tex
/acsl-mini-tutorial.tex
/*-tut.c
/pp
/pp.ml
/*.cm*
/*.o
/VERSION

# PDFs
/acsl-implementation.pdf
/acsl.pdf
/acsl-mini-tutorial.pdf
